.upload {
  text-align: center;
}

.rotating-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .rotating-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.upload__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.normal-font {
  font-size: 14px;
}

.upload__button {
  margin-top: 10px;
}