.search-box {
  width: 200px;
  height: 30px;
}

.search__results-list {
  padding-left: 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-or-random {
  display: flex;
  flex-direction: row;
  align-items: center;
}